@import "tailwindcss";

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: Inter, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}

/* Buttons */

button {
  cursor: pointer;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}